In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import re

DB_NAME = "Cars2.db"
TABLE_NAME = "all_car_data"

def connect_db():
    try:
        conn = sqlite3.connect(DB_NAME)
        return conn
    except sqlite3.Error as e:
        print("áƒ‘áƒáƒ–áƒáƒ¡áƒ—áƒáƒœ áƒ“áƒáƒ™áƒáƒ•áƒ¨áƒ˜áƒ áƒ”áƒ‘áƒ˜áƒ¡ áƒ¨áƒ”áƒªáƒ“áƒáƒ›áƒ:", e)
        return None

def show_tables():
    with connect_db() as conn:
        cursor = conn.cursor()
        cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
        tables = cursor.fetchall()
        print("áƒªáƒ®áƒ áƒ˜áƒšáƒ”áƒ‘áƒ˜ áƒ‘áƒáƒ–áƒáƒ¨áƒ˜:")
        for table in tables:
            print("-", table[0])

def fetch_high_rating():
    try:
        with connect_db() as conn:
            cursor = conn.cursor()
            cursor.execute(f"""
                SELECT * FROM {TABLE_NAME}
                WHERE CAST(SUBSTR(Rating, 1, 3) AS FLOAT) > 4.5;
            """)
            results = cursor.fetchall()
            print("áƒ›áƒáƒœáƒ¥áƒáƒœáƒ”áƒ‘áƒ˜ áƒ¨áƒ”áƒ¤áƒáƒ¡áƒ”áƒ‘áƒ˜áƒ— > 4.5:")
            for row in results:
                print(row)
    except Exception as e:
        print("áƒ¨áƒ”áƒªáƒ“áƒáƒ›áƒ áƒ›áƒáƒœáƒáƒªáƒ”áƒ›áƒ”áƒ‘áƒ˜áƒ¡ áƒ¬áƒáƒ›áƒáƒ¦áƒ”áƒ‘áƒ˜áƒ¡áƒáƒ¡:", e)

def insert_car():
    try:
        brand = input("áƒ‘áƒ áƒ”áƒœáƒ“áƒ˜: ").strip()
        name = input("áƒ›áƒáƒ“áƒ”áƒšáƒ˜áƒ¡ áƒ¡áƒáƒ®áƒ”áƒšáƒ˜: ").strip()
        price = input("áƒ¤áƒáƒ¡áƒ˜ (áƒ›áƒáƒ’: Rs. 10.50 Lakh): ").strip()
        rating = input("áƒ¨áƒ”áƒ¤áƒáƒ¡áƒ”áƒ‘áƒ (áƒ›áƒáƒ’: 4.5/5): ").strip()
        safety = input("áƒ£áƒ¡áƒáƒ¤áƒ áƒ—áƒ®áƒáƒ”áƒ‘áƒ (áƒ›áƒáƒ’: 5 Star Safety): ").strip()
        mileage = input("áƒ›áƒáƒ®áƒ›áƒáƒ áƒ”áƒ‘áƒ (áƒ›áƒáƒ’: 18 kmpl): ").strip()
        power = input("áƒ«áƒáƒšáƒ (áƒ›áƒáƒ’: 150 bhp): ").strip()

        with connect_db() as conn:
            cursor = conn.cursor()
            cursor.execute(f"""
                INSERT INTO {TABLE_NAME}
                (Brand, "Car Name", Price, Rating, Safety, Mileage, "Power (BHP)")
                VALUES (?, ?, ?, ?, ?, ?, ?)
            """, (brand, name, price, rating, safety, mileage, power))
            conn.commit()
            print("âœ… áƒ©áƒáƒœáƒáƒ¬áƒ”áƒ áƒ˜ áƒ¬áƒáƒ áƒ›áƒáƒ¢áƒ”áƒ‘áƒ˜áƒ— áƒ“áƒáƒ”áƒ›áƒáƒ¢áƒ!")
    except Exception as e:
        print("áƒ¨áƒ”áƒªáƒ“áƒáƒ›áƒ áƒ©áƒáƒœáƒáƒ¬áƒ”áƒ áƒ˜áƒ¡ áƒ“áƒáƒ›áƒáƒ¢áƒ”áƒ‘áƒ˜áƒ¡áƒáƒ¡:", e)

def update_price():
    try:
        car_name = input("áƒ›áƒáƒ“áƒ”áƒšáƒ˜áƒ¡ áƒ¡áƒáƒ®áƒ”áƒšáƒ˜: ").strip()
        new_price = input("áƒáƒ®áƒáƒšáƒ˜ áƒ¤áƒáƒ¡áƒ˜ (áƒ›áƒáƒ’: Rs. 12.00 Lakh): ").strip()

        with connect_db() as conn:
            cursor = conn.cursor()
            cursor.execute(f"""
                UPDATE {TABLE_NAME}
                SET Price = ?
                WHERE "Car Name" = ?;
            """, (new_price, car_name))
            if cursor.rowcount == 0:
                print("áƒáƒ¡áƒ”áƒ—áƒ˜ áƒ›áƒáƒ“áƒ”áƒšáƒ˜ áƒ•áƒ”áƒ  áƒ›áƒáƒ˜áƒ«áƒ”áƒ‘áƒœáƒ.")
            else:
                conn.commit()
                print(" áƒ¤áƒáƒ¡áƒ˜ áƒ¬áƒáƒ áƒ›áƒáƒ¢áƒ”áƒ‘áƒ˜áƒ— áƒ’áƒáƒœáƒáƒ®áƒšáƒ“áƒ!")
    except Exception as e:
        print("áƒ¨áƒ”áƒªáƒ“áƒáƒ›áƒ áƒ’áƒáƒœáƒáƒ®áƒšáƒ”áƒ‘áƒ˜áƒ¡áƒáƒ¡:", e)

def delete_car():
    try:
        car_name = input("áƒ›áƒáƒ“áƒ”áƒšáƒ˜áƒ¡ áƒ¡áƒáƒ®áƒ”áƒšáƒ˜ áƒ¬áƒáƒ¡áƒáƒ¨áƒšáƒ”áƒšáƒáƒ“: ").strip()
        with connect_db() as conn:
            cursor = conn.cursor()
            cursor.execute(f"""
                DELETE FROM {TABLE_NAME}
                WHERE "Car Name" = ?;
            """, (car_name,))
            if cursor.rowcount == 0:
                print(" áƒáƒ¡áƒ”áƒ—áƒ˜ áƒ›áƒáƒ“áƒ”áƒšáƒ˜ áƒ•áƒ”áƒ  áƒ›áƒáƒ˜áƒ«áƒ”áƒ‘áƒœáƒ.")
            else:
                conn.commit()
                print(" áƒ©áƒáƒœáƒáƒ¬áƒ”áƒ áƒ˜ áƒ¬áƒáƒ˜áƒ¨áƒáƒšáƒ!")
    except Exception as e:
        print("áƒ¨áƒ”áƒªáƒ“áƒáƒ›áƒ áƒ¬áƒáƒ¨áƒšáƒ˜áƒ¡áƒáƒ¡:", e)

def plot_data():
    try:
        with connect_db() as conn:
            df = pd.read_sql_query(f"SELECT * FROM {TABLE_NAME}", conn)

        # áƒ¤áƒáƒ¡áƒ˜áƒ¡ áƒ’áƒáƒ¬áƒ›áƒ”áƒœáƒ“áƒ áƒ“áƒ áƒ’áƒáƒ£áƒ›áƒáƒ áƒ—áƒáƒ•áƒ˜ áƒ©áƒáƒœáƒáƒ¬áƒ”áƒ áƒ”áƒ‘áƒ˜áƒ¡ áƒ›áƒáƒªáƒ˜áƒšáƒ”áƒ‘áƒ
        df['Price_num'] = pd.to_numeric(
            df['Price'].str.extract(r'([\d.]+)')[0],
            errors='coerce'
        )
        df = df.dropna(subset=['Price_num'])

        # 1) áƒ°áƒ˜áƒ¡áƒ¢áƒáƒ’áƒ áƒáƒ›áƒ
        plt.figure(figsize=(8, 5))
        plt.hist(df['Price_num'], bins=10, color='skyblue', edgecolor='black')
        plt.title('áƒ¤áƒáƒ¡áƒ”áƒ‘áƒ˜áƒ¡ áƒ’áƒáƒœáƒáƒ¬áƒ˜áƒšáƒ”áƒ‘áƒ')
        plt.xlabel('áƒ¤áƒáƒ¡áƒ˜ (áƒšáƒáƒ¥áƒ¨áƒ˜)')
        plt.ylabel('áƒ›áƒáƒœáƒ¥áƒáƒœáƒ”áƒ‘áƒ˜áƒ¡ áƒ áƒáƒáƒ“áƒ”áƒœáƒáƒ‘áƒ')
        plt.show()

        # 2) áƒ¡áƒ•áƒ”áƒ¢áƒáƒ•áƒáƒœáƒ˜: áƒ‘áƒ áƒ”áƒœáƒ“áƒ”áƒ‘áƒ˜áƒ¡ áƒ áƒáƒáƒ“áƒ”áƒœáƒáƒ‘áƒ
        df['Brand'].value_counts().plot(kind='bar', color='orange', figsize=(10, 5))
        plt.title('áƒ›áƒáƒœáƒ¥áƒáƒœáƒ”áƒ‘áƒ˜áƒ¡ áƒ áƒáƒáƒ“áƒ”áƒœáƒáƒ‘áƒ áƒ‘áƒ áƒ”áƒœáƒ“áƒ”áƒ‘áƒ˜áƒ¡ áƒ›áƒ˜áƒ®áƒ”áƒ“áƒ•áƒ˜áƒ—')
        plt.xlabel('áƒ‘áƒ áƒ”áƒœáƒ“áƒ˜')
        plt.ylabel('áƒ áƒáƒáƒ“áƒ”áƒœáƒáƒ‘áƒ')
        plt.xticks(rotation=45)
        plt.show()

        # 3) áƒ¬áƒ áƒ˜áƒ£áƒšáƒ˜: áƒ§áƒ•áƒ”áƒšáƒáƒ–áƒ” áƒ’áƒáƒ•áƒ áƒªáƒ”áƒšáƒ”áƒ‘áƒ£áƒšáƒ˜ áƒ›áƒáƒ“áƒ”áƒšáƒ”áƒ‘áƒ˜
        top_models = df['Car Name'].value_counts().head(5)
        plt.figure(figsize=(7, 7))
        plt.pie(top_models, labels=top_models.index, autopct='%1.1f%%')
        plt.title('áƒ§áƒ•áƒ”áƒšáƒáƒ–áƒ” áƒ’áƒáƒ•áƒ áƒªáƒ”áƒšáƒ”áƒ‘áƒ£áƒšáƒ˜ áƒ›áƒáƒ“áƒ”áƒšáƒ”áƒ‘áƒ˜')
        plt.show()

    except Exception as e:
        print("áƒ¨áƒ”áƒªáƒ“áƒáƒ›áƒ áƒ•áƒ˜áƒ–áƒ£áƒáƒšáƒ˜áƒ–áƒáƒªáƒ˜áƒ˜áƒ¡áƒáƒ¡:", e)

# ===========================
# áƒ«áƒ˜áƒ áƒ˜áƒ—áƒáƒ“áƒ˜ áƒ›áƒ”áƒœáƒ˜áƒ£
def main():
    while True:
        print("\nğŸ”§ áƒ›áƒ”áƒœáƒ˜áƒ£:")
        print("1. áƒªáƒ®áƒ áƒ˜áƒšáƒ”áƒ‘áƒ˜áƒ¡ áƒœáƒáƒ®áƒ•áƒ")
        print("2. áƒ›áƒáƒœáƒ¥áƒáƒœáƒ”áƒ‘áƒ˜ áƒ¨áƒ”áƒ¤áƒáƒ¡áƒ”áƒ‘áƒ˜áƒ— > 4.5")
        print("3. áƒáƒ®áƒáƒšáƒ˜ áƒ›áƒáƒœáƒ¥áƒáƒœáƒ˜áƒ¡ áƒ“áƒáƒ›áƒáƒ¢áƒ”áƒ‘áƒ")
        print("4. áƒ¤áƒáƒ¡áƒ˜áƒ¡ áƒ’áƒáƒœáƒáƒ®áƒšáƒ”áƒ‘áƒ")
        print("5. áƒ›áƒáƒœáƒ¥áƒáƒœáƒ˜áƒ¡ áƒ¬áƒáƒ¨áƒšáƒ")
        print("6. áƒ“áƒ˜áƒáƒ’áƒ áƒáƒ›áƒ”áƒ‘áƒ˜áƒ¡ áƒœáƒáƒ®áƒ•áƒ")
        print("0. áƒ’áƒáƒ›áƒáƒ¡áƒ•áƒšáƒ")

        choice = input("áƒáƒ˜áƒ áƒ©áƒ˜áƒ” áƒ›áƒáƒ¥áƒ›áƒ”áƒ“áƒ”áƒ‘áƒ: ")
        if choice == "1":
            show_tables()
        elif choice == "2":
            fetch_high_rating()
        elif choice == "3":
            insert_car()
        elif choice == "4":
            update_price()
        elif choice == "5":
            delete_car()
        elif choice == "6":
            plot_data()
        elif choice == "0":
            print("áƒ’áƒ›áƒáƒ“áƒšáƒáƒ‘áƒ—!")
            break
        else:
            print("áƒáƒ áƒáƒ¡áƒ¬áƒáƒ áƒ˜ áƒáƒ áƒ©áƒ”áƒ•áƒáƒœáƒ˜, áƒ¡áƒªáƒáƒ“áƒ” áƒ®áƒ”áƒšáƒáƒ®áƒšáƒ.")

if __name__ == "__main__":
    main()